@model PagedList.IPagedList<BettingTips.Models.MatchSpecificTip>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Match Tips";
}

<h2>Match Tips</h2>

<p>
    <a href=@Url.Action("Create") class="btn btn-primary">
        New Tip
        <span class="badge">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </span>
    </a>
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Tip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SendTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Expiration)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SendTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expiration)
        </td>
        <td>
            @if (DateTime.Now < item.Expiration)
            {
                Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info btn-sm" });
            }
            @Html.ActionLink("Details", "Details", new { id=item.Id }, new { @class = "btn btn-info btn-sm" }) @*|
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>

<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of (@Model.PageCount)

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))