@model BettingTips.Models.InboundMessage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InboundMessage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SyncOrderType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SyncOrderType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.traceUniqueId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.traceUniqueId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
